<div class="varor">
  <img src="public/img/<%= vara.bilder %>" alt="vara-bild" style="width: 100%;">
  <br><br>
  <h1><%= vara.produkt %></h1>
  <br>
  <p class="price"><%= vara.pris %></p>
  <br>
  <button> Köp </button>
</div>
